<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <link rel="stylesheet"  href="/css/stle_register.css">
</head>
<body>
  <div class="container">
    <h1>Register</h1>
    <form id="register-form">
      <input type="text" id="username" placeholder="Username" required>
      <input type="email" id="email" placeholder="Email" required>
      <input type="password" id="password" placeholder="Password" required>
      <input type="password" id="confirm-password" placeholder="Confirm Password" required>
      <button type="submit">Register</button>
    </form>
  </div>

</body>
</html>